.login-box {
    align-items: stretch;
    flex-direction: row;
    min-height: 100vh;
    flex-wrap: nowrap;
    position: fixed;
    display: flex;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    &__error {
        position: absolute;
        text-align: center;
        z-index: 1;
        width: 100%;
        top: 50%;

        &:after {
            background-color: #FFFFFFD4;
            position: fixed;
            content: "";
            z-index: 0;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
        }

        .text {
            background-color: #D74A51;
            text-transform: uppercase;
            display: inline-block;
            padding: 14px 20px;
            border-radius: 8px;
            font-size: 28px;
            position: relative;
            color: white;
            z-index: 1;
        }
    }

    &__image {
        width: 68%;

        img {
            position: fixed;
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: 0;
            bottom: 0;
            top: 0;
        }
    }

    &__form {
        background-color: rgba(248, 248, 248, .4);
        backdrop-filter: blur(6px);
        justify-content: center;
        flex-direction: column;
        position: relative;
        align-items: center;
        padding: 28px;
        display: flex;
        overflow: auto;
        width: 32%;
        z-index: 1;

        .alert {
            border-color: transparent;
            padding: 10px 12px;
            display: flex;
            column-gap: 8px;
            color: white;
            font-size: 14px;
            font-weight: 300;

            &-success {
                background-color: #1DD796;
            }

            &-danger {
                background-color: #D74A51;
            }
        }

        .title-container {
            margin-bottom: 28px;
            text-align: center;

            h3 {
                text-transform: uppercase;
                margin-bottom: 14px;
                text-align: center;
                font-weight: 800;
                font-size: 26px;
            }       
        }

        .form-control {
            background-color: rgba(255, 255, 255, .48);
            padding: 10px 16px;
            font-weight: 300;
            margin-top: 2px;

            &:focus {
                box-shadow: none;
            }
        }

        label {
            margin: 12px 0 0;
            font-size: 15px;
            padding: 0;
        }

        button {
            margin-top: 24px;
        }
    }

    &__social-title {
        border-top: 1px dashed #CCC;
        margin: 38px 0 6px;
        text-align: center;
        font-size: 14px;
        padding-top: 28px;
    }

    &__socials {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        list-style: none;
        column-gap: 22px;
        margin: 0;
        padding: 0;
        display: flex;

        li {

            a {
                text-decoration: none;
                color: #424446;
                font-size: 28px;
            }
        }
    }
}

@media(max-width:1199px) {
    .login-box {
    
        &__image {
            width: 60%;
        }
    
        &__form {
            width: 40%;
        }
    }
}

@media(max-width:991px) {
    .login-box {
        flex-direction: column;
        flex-wrap: nowrap;
    
        &__image, &__form {
            width: 100%;
        }
    }
}

@media(max-width:767px) {
    .login-box {
        flex-direction: column;
        flex-wrap: nowrap;
    
        &__image {
            max-height: 280px;
        }
    }
}