
//== Font
$font-family:           "Urbanist", sans-serif;
$font-title:            #343F52;
$font-color:            #5F6F85;
$font-size:             1.1rem;
$font-height:           1.6;
$color-link:            #2F55D4;

//== Color
$background-secondary:  #F8F9FA;
$background-primary:    #FFFFFF;

$color-secondary:       #202942;
$color-primary:         #2F55D4;